  <footer id="footer">

    <div class="container">

      <div class="row">

        <div class="col-md-8">
          <p class="copy">
            © 2017 Burak Üstün, All Rights Reserved.
          </p>
        </div>
        <div class="col-md-4">
          <p style="float: right;"> <i class="fa fa-fw fa-envelope-o"> </i><a href="mailto:burak@ustun.co">burak@ustun.co</a></p>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </footer>


</div><!-- .wrapper -->

<script src="{{site.baseurl}}/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="{{site.baseurl}}/assets/js/jquery-1.11.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Background slider -->
<script src="{{site.baseurl}}/assets/js/jquery.backstretch.min.js"></script>
<!-- OwlCarousel -->
<script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>
<!-- Modal for portfolio -->
<script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Text rotator -->
<script src="{{site.baseurl}}/assets/js/jquery.simple-text-rotator.min.js"></script>
<!-- Waypoints -->
<!-- CountTo  -->
<script src="{{site.baseurl}}/assets/js/jquery.countTo.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="{{site.baseurl}}/assets/js/wow.min.js"></script>

<script src="{{site.baseurl}}/assets/js/jquery.waypoints.js"></script>
<!-- Smooth scroll -->
<script src="{{site.baseurl}}/assets/js/smoothscroll.js"></script>
<!-- Fitvids -->
<script src="{{site.baseurl}}/assets/js/jquery.fitvids.js"></script>