        <section class="share col-sm-12" style="padding-left: 0px; padding-right: 0px;">
        <h5 class="section-title">Share this on</h5>
        <a class="btn btn-twitter btn-xs twitter" href="http://twitter.com/share?text={{page.title}}&via=Burakustn" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fa fa-twitter fa-sm"></i>
          
        </a>
        <a class="btn btn-facebook btn-xs facebook" href="https://www.facebook.com/sharer/sharer.php" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fa fa-facebook fa-lg"></i>
          
        </a>
        <a class="btn btn-googleplus btn-xs "onclick="window.open('https://plus.google.com/share?url='+window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
          <i class="fa fa-google-plus"></i>
        </a>
      </section>