        <section class="share col-sm-12" style="padding-left: 0px; padding-right: 0px;">
        <h4 class="section-title">Share Post</h4>
        <a class="btn btn-default btn-sm twitter href="http://twitter.com/share?text={{page.title}}&via=Burakustn" style="color: white; background-color: darkgray" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fa fa-twitter fa-sm"></i>
          Twitter
        </a>
        <a class="btn btn-success btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php" style="color: white; background-color: darkgray" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fa fa-facebook fa-lg"></i>
          Facebook
        </a>
        <a class="btn btn-primary btn-sm gplus" style="color: white; background-color: darkgray" onclick="window.open('https://plus.google.com/share?url='+window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
          <i class="fa fa-google-plus fa-lg"></i>
          Google+
        </a>
      </section>