.navbar-custom .navbar-nav .dropdown-menu > li > a {
  color: #666;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a:hover {
  color: #EF4836;
}

.navbar-nav #search-input {
  border: none;
  border-bottom: 3px solid #fff;
  outline: none;
  background: none;
  width: 0;
  margin-top: 12px;
  padding-bottom: 13px;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.navbar-color .navbar-nav #search-input{
  border: none;
  border-bottom: 3px solid #000;
  color: #000;
  outline: none;
  background: none;
  width: 0;
  margin-top: 12px;
  padding-bottom: 14px;
  visibility: hidden;
  transition: all 0.15s ease-in;
  box-shadow: none;
}

.navbar-nav #search-input.open {
  visibility: visible;
  width: 200px;
}

.navbar-nav #search-results {

  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav #search-results li:first-child {
  padding-top: 5px
}
.navbar-nav #search-results li:last-child {
  padding-bottom: 5px
}