.navbar-custom .navbar-nav .dropdown-menu > li > a {
  color: #666;
}

.navbar-custom .navbar-nav .dropdown-menu > li > a:hover {
  color: #EF4836;
}

.navbar-nav #search-input {
  border: none;
  border-bottom: 3px solid #fff;
  outline: none;
  background: none;
  width: 0;
  margin-top: 12px;
  padding-bottom: 13px;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.navbar-color .navbar-nav #search-input{
  border: none;
  border-bottom: 3px solid #000;
  color: #000;
  outline: none;
  background: none;
  width: 0;
  margin-top: 12px;
  padding-bottom: 14px;
  visibility: hidden;
  transition: all 0.15s ease-in;
  box-shadow: none;
}

.navbar-nav #search-input.open {
  visibility: visible;
  width: 200px;
}

.navbar-nav #search-results {

  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav #search-results li:first-child {
  padding-top: 5px
}
.navbar-nav #search-results li:last-child {
  padding-bottom: 5px
}

/* Button types*/

.btn-default {
  background: #EEEEEE;
}

.btn-facebook {
  background: transparent;
  font-size: 15px;
  font-weight: 3;
  width: 60px;
  border: 2px solid #3B5998;
  color:#3B5998;
  padding: 5px 15px;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  background: #3B5998;
  border: 2px solid #3B5998;
  color: #FFF;
}

.btn-twitter {
  background: transparent;
  font-size: 15px;
  font-weight: 3;
  border: 2px solid #4099FF;
  width: 60px;
  color: #4099FF;
  padding: 5px 15px;
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  background: #4099FF;
  border: 2px solid #4099FF;
  color: #FFF;
}

.btn-googleplus {
  background: transparent;
  font-size: 15px;
  font-weight: 3;
  width: 60px;
  border: 2px solid #d34836;
  color:#d34836;
  padding: 5px 15px;
}

.btn-googleplus:hover, .btn-googleplus:focus, .btn-googleplus:active, .btn-googleplus.active {
  background: #d34836;
  border: 2px solid #d34836;
  color: #FFF;
}