---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
<body>

  <div class="wrapper">
    <div id="preloader">
      <div id="status">
        <div class="status-mes"><h4>Burak Üstün</h4></div>
      </div>
    </div>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
      {% include navbar.html %}
      </div>
    </nav>


    <section id="intro" class="section" style="padding-bottom: 30px; ">

      <div class="container">

        <div class="row" >

          <div class="col-md-12" style="padding-top: 300px;">

            <div class="hello wow bounceInDown">
              <h1 >{{ page.title }}</h1>
              <h3><span class="rotate">{{page.rotate}}</span></h3>
            </div>

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <section id="blog" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            
            {{ content }}
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

 {% include footer.html %}
<!-- Custom scripts -->
<script src="{{site.baseurl}}/assets/js/customNotebook.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#intro').backstretch('{{page.fpath}}');
  });
</script>

</html>
