---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <div class="wrapper">

    <!-- Preloader -->

    <div id="preloader">
      <div id="status">
        <div class="status-mes"><h4>Burak Üstün</h4></div>
      </div>
    </div>

    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
      {% include navbar.html %}
      </div>
    </nav>

    <!-- Navigation end -->

    <!-- Intro section start -->

    <section id="intro" class="section" style="padding-bottom: 30px; ">

      <div class="container">

        <div class="row" >

          <div class="col-md-12" style="padding-top: 300px;">

            <div class="hello wow bounceInDown">
              <h1 >Hello, This is my Blog</h1>
              <h3><span class="rotate">Objective-C | Swift</span></h3>
            </div>

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Intro section end -->

    <!-- Profile contact callout section -->


    <!-- Profile contact callout section -->

    <!-- Profile section start -->

    <section id="blog" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            
            {{ content }}
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>


    <!-- Contact section end -->

    <!-- Footer start -->

 {% include footer.html %}
<!-- Custom scripts -->
<script src="{{site.baseurl}}/assets/js/customNotebook.js"></script>



<script type="text/javascript">
  $(document).ready(function() {

    $('#intro').backstretch(['/assets/images/bg5.jpg']);
  });
</script>

</html>
