---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
  <!-- Github styles CSS -->
  <link href="{{site.baseurl}}/assets/css/github.css" rel="stylesheet" media="screen">
</head>
<body>

  <div class="wrapper">

    <!-- Preloader -->

    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-fixed-top navbar-color" role="navigation">
      <div class="container">
        {% include navbar.html %}
      </div>
    </nav>

    <!-- Navigation end -->

    <!-- Profile section start -->

    <section id="blog" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 col-xs-12 headline wow bounceInDown" style="text-align: left">

            <h1 class="post-headline">{{page.title}}</h1> 

            {{content}}

            <br/>
              <div class="col-lg-6 col-md-6 col-xs-6"">
              <p>{{page.date | date: '%B %d, %Y'}}</p>
              <p class="p-custom">{{page.author}}</p>
              </div>
            <div id="tag" class="col-lg-6 col-md-6 col-xs-6">
              <ul style="padding-top: 10px;">
              {% assign sorted_tags = page.tags | sort %}
                {% for tag in sorted_tags %}
                <li>
                  <a href="/tags#{{ tag }}-ref">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- Comments only for posts -->
            {% if page.path contains '_posts' %}
            {% if site.disqus-shortname %}
            {% include disqus.html %}
            {% endif %}
            {% endif %}

          </div>
<!--
          <div class="col-md-4 hidden-xs headline wow bounceInDown">
              <h4>Latest Posts</h4>
            {% for post in site.posts limit:10 %}
                <p><li><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></li></p>
            {% endfor %}
          </div>
        -->
      </div><!-- .row -->

    </div><!-- .container -->

  </section>

  <!-- Contact section end -->

  <!-- Footer start -->

    {% include footer.html %}
<!-- Custom scripts -->
<script src="{{site.baseurl}}/assets/js/customBlog.js"></script>
</html>
