---
layout: default
---
<div class="col-md-12 col-xs-12 headline" style="text-align: left">
  {{content}}
  <p>{{page.date | date: '%B %d, %Y'}}</p>  
  <br/>
    <div class="col-lg-6 col-md-6 col-xs-6">
     {% include sharer.html %}
    </div>
  <div id="tag" class="col-lg-6 col-md-6 col-xs-6">
    <ul style="padding-top: 45px;">
    {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
      <li>
        <a href="/tags#{{ tag }}-ref">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <br/>
   <!-- Comments only for posts -->
  {% if page.path contains '_posts' %}
  {% if site.disqus-shortname %}
  {% include disqus.html %}
  {% endif %}
  {% endif %}

</div>
