---
layout: compress
---
<!DOCTYPE html>
<html>
    {% include head.html %}
<body>

  <div class="wrapper">

    <nav class="navbar navbar-custom navbar-fixed-top navbar-color" role="navigation">
      <div class="container">
        {% include navbar.html %}
      </div>
    </nav>

    <section id="blog" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 col-xs-12 headline wow bounceInDown" style="text-align: left">

            <h1 class="post-headline">{{page.title}}</h1> 

            {{content}}
              <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <br/>
              <div class="col-lg-6 col-md-6 col-xs-6"">
              <p>{{page.date | date: '%B %d, %Y'}}</p>
              <p class="p-custom">{{page.author}}</p>
              </div>
            <div id="tag" class="col-lg-6 col-md-6 col-xs-6">
              <ul style="padding-top: 10px;">
              {% assign sorted_tags = page.tags | sort %}
                {% for tag in sorted_tags %}
                <li>
                  <a href="/tags#{{ tag }}-ref">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            
            <div class="addthis_inline_share_toolbox"></div>
            
            <!-- Comments only for posts -->
            {% if page.path contains '_posts' %}
            {% if site.disqus-shortname %}
            {% include disqus.html %}
            {% endif %}
            {% endif %}

          </div>
      </div><!-- .row -->

    </div><!-- .container -->

  </section>
    {% include footer.html %}

<!-- Custom scripts -->
<script src="{{site.baseurl}}/assets/js/customBlog.js"></script>
</html>
